@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}
 /********************** NavBar********************************** */
 .input_class{
   border-radius: 0 !important;
   border-radius: 7px 0 0 7px!important;
   /* height: 30px!important; */
 }
 .button_class{
  border-radius: 0!important;
  border-radius: 0 7px 7px 0!important;
  background-color: rgba(255, 166, 0, 0.781)!important;
  /* height: 30px!important;
  padding: 0px!important; */
 }
 .nav-link{
   color: white!important;
   /* padding: 0!important;
   margin: 0!important; */
 }
 .nav_items{
   font-size: 0.6rem!important;
   color: beige!important;
 }
 .nav_items3{
  font-size: 0.6rem;
  color: beige!important;
}
 /* .navbaro{
   height: 50px!important;
 } */
 .nav_items2{
   /* padding-top: -85px!important; */
  font-size: 0.9rem!important;
 }
 .nav-link:hover{
   color: rgba(255, 166, 0, 0.781)!important;
 }
 .navbaro{
   z-index: 100!important;
 }
 .SignOut_Padding{
   margin-top: -30px!important;
   margin-bottom: -40px!important;
 }
 .SignOut_flex{
   display: flex !important;
   flex-direction: row !important;
 }
 .SignIn_Padding{
   padding-top: 0;
  margin-top: -13px!important;
  margin-bottom: -40px!important;
}
  /********************** NavBar__Ends********************************** */
   /********************** LogIn--Page___Starts********************************** */
   .LogInLogo{
     width: 110px;
   }
   .button_class1{
    border-radius: 0!important;
    /* border-radius: 0 7px 7px 0!important; */
    background-color: rgb(221, 155, 33)!important;
   /* color: black!important; */
    /* height: 30px!important;
    padding: 0px!important; */
   }
   .button_class2{
     border: 4px solid black!important;
   }
   /********************** LogIn--Page___Ends********************************** */
   /********************************** Banner_Starts*********************************** */
   .top_position{
     margin-top: -70px!important;
   }
   .banner{
     width: 100vw!important;
   }
   .banners{
    width: 100vw!important;
  }
   /* .banner{
    background: rgb(5,5,5)!important;
    background: linear-gradient(90deg, rgba(5,5,5,0.76234243697479) 13%, rgba(254,249,253,1) 81%)!important;
  z-index: 50!important; 
  } */
  /* .banner0{
    width: 100%!important;
    height:80vh!important;
    background-repeat: no-repeat!important;
    background-color: blueviolet;
    z-index: 5!important;
    object-fit: contain!important;
    background: 100% 100%;
    background: linear-gradient(180deg,rgb(0, 0, 0,0.5),transparent,rgba(254,249,253,0.5) , rgba(254,249,253,1) ),url('./Images/Banner.jpg')!important;
  } */
  .banner{
    mask-image: linear-gradient(to bottom, rgba(254,249,253,1) 20%, rgb(0, 0, 0, 0))!important;
  }
   /********************************** Banner_Ends*********************************** */
   /******************************* product Starts******************** */
   .photo{
     width: 200px!important;
     object-fit: contain!important;
   }
   .photoL{
    width:600px!important;
    /* height: 200px!important; */
    object-fit: contain!important;
  }
   .buton{
     font-size: small;
    width: 100px!important;
    background-color: rgba(255, 166, 0, 0.781);
    color: black;
    outline: none;
    border-color: rgba(255, 166, 0, 0.781) rgba(250, 173, 30, 0.986);
  }
  .buton_Parent{
   display: flex!important;
   place-items: center!important;
  }
  .top_position{
    margin-top: -80px!important;
    /* background-color: beige; */
  }
     /******************************* product Ends******************** */

      /******************************* BasketValue Starts******************** */
     .basket_photo{
      width: 100px!important;
      object-fit: contain!important;
    }
    .basket_photoL{
     width:100px!important;
     /* height: 200px!important; */
     object-fit: contain!important;
   }
   .buton_basket{
    font-size: small;
   width: 150px!important;
   background-color: rgba(255, 166, 0, 0.781);
   color: black;
   outline: none;
   border-color: rgba(255, 166, 0, 0.781) rgba(250, 173, 30, 0.986);
 }
 .basket_img_height{
height: 30vh!important;
 }
 .addprice{
display: flex;
/* align-items: center; */
 }
 .TotalPrice{
   width: 370px;
   height: 150px;
   padding: 7px;
   background-color: rgb(218, 218, 218,0.3);
   border-radius: 3px;
   border: 2px solid  rgb(218, 218, 218)!important;
 }
/******************************* BasketValue Ends******************** */

/******************************* TotalPrice Starts******************** */
.checkbox_flexo{
  display: flex;
  flex-direction: row;
}
.checkbox_flexo > input{
  padding-right: 5px !important;
  margin-top: 4px;
  margin-right: 10px;
}
/******************************* TotalPrice Ends******************** */
@media(max-width:765px){
  .TotalPrice{
    font-size: 0.5rem;
    height:  120px;
  }
  .btn_sm{
    font-size: 0.5rem;
  }
  .SignOut_Padding{
    margin-top: auto!important;
  margin-bottom: auto!important;
  }
  .SignIn_Padding{ 
     margin-top: auto!important;
    margin-bottom: auto!important;
  }
  .nav_items3{
    font-size: 1rem!important;
    /* color: beige!important; */
  }
  .nav-link:hover{
    color: rgba(255, 166, 0, 0.781)!important;
  }

}

/* width: 870px;
height: 150px; */